In [3]:
from sqlalchemy import create_engine

In [7]:
import pandas as pd

In [35]:
engine = create_engine('postgresql://treytrey3:113315th3@recipeproject3.czcsc2tr7kct.us-east-1.rds.amazonaws.com:5432/dsicapstone3')

In [ ]:
# name = 'flavors'
# flavor_df.to_sql(name, engine, flavor='postgres', if_exists='replace')

# To access instance from command line:

With psql open in another window, type:

- psql --host=recipeproject3.czcsc2tr7kct.us-east-1.rds.amazonaws.com --port=5432 --username=treytrey3 --password --dbname=dsicapstone3

When it asks for password, type:

- 113315th3

# To send data to instance from ipython:

- from sqlalchemy import create engine
- engine = create_engine('postgresql://treytrey3:113315th3@recipeproject3.czcsc2tr7kct.us-east-1.rds.amazonaws.com:5432/dsicapstone3')
- name = 'something'
- df.to_sql(name, engine, flavor='postgres', if_exists='replace')

# To add data to an existing table

To generate a new table:
- name = 'test_df'
- test_df.to_sql(name, engine, flavor='postgres', if_exists='replace')

To append to existing (retain same name variable):
- test_df_2.to_sql(name, engine, flavor='postgres', if_exists='append')

See example below under "Example of appending to existing SQL"

# To translate a sql query into a dataframe

Simply type:
- df = pd.read_sql('select * from test_df;', engine)

If you want to test out some queries in ipython first:
- %load_ext sql
- %sql postgresql://treytrey3:113315th3@recipeproject3.czcsc2tr7kct.us-east-1.rds.amazonaws.com:5432/dsicapstone3
- %sql select * from test_df;

See example below under "Example of reading into pandas"

# Example of reading into pandas

In [24]:
%load_ext sql

/Users/michaelshea/anaconda/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/Users/michaelshea/anaconda/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [25]:
%sql postgresql://treytrey3:113315th3@recipeproject3.czcsc2tr7kct.us-east-1.rds.amazonaws.com:5432/dsicapstone3

u'Connected: treytrey3@dsicapstone3'

In [39]:
thing = %sql select * from test_df;

4 rows affected.

In [40]:
read_in_sql = pd.read_sql('select * from test_df;', engine)

# Example of appending to existing SQL

In [6]:
my_dict = {'jessica': ["5'2", 'female', '125 pounds', '28 years old'], 'michael': ["6'0", 'male', '150 pounds', '28 years old']}

In [18]:
test_df = pd.DataFrame(my_dict).transpose()
test_df.columns = ['height','sex','weight','age']

In [19]:
test_df

        height     sex      weight           age
jessica    5'2  female  125 pounds  28 years old
michael    6'0    male  150 pounds  28 years old

In [20]:
name = 'test_df'
test_df.to_sql(name, engine, flavor='postgres', if_exists='replace')

In [21]:
my_dict_2 = {'seal': ["4'4", 'female', '375 pounds', '9 years old'], 'pegasus': ["8'3", 'male', '330 pounds', '36 years old']}
test_df_2 = pd.DataFrame(my_dict_2).transpose()
test_df_2.columns = ['height','sex','weight','age']

In [22]:
test_df_2.head()

        height     sex      weight           age
pegasus    8'3    male  330 pounds  36 years old
seal       4'4  female  375 pounds   9 years old

In [23]:
# name stays the same, we are appending now
test_df_2.to_sql(name, engine, flavor='postgres', if_exists='append')